<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Add a cake</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Add a cake</h1>
<form action="#" enctype="multipart/form-data" method="post" th:action="@{/addCake}" th:object="${addCake}">
    <p>title: <input th:field="*{title}" type="text"/></p>
    <p>description: <input th:field="*{description}" type="text"/></p>
    <div>
        <label>Photos: </label>
        <input accept="image/png, image/jpeg" name="image" type="file"/>
    </div>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>

</form>
<a href="/">Home / view all cakes</a>
</body>
</html>