<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<p>
    <span th:text="'All our cakes'"></span>
</p>

<div th:if="${ not#lists.isEmpty(cakedisplay)}">
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
        <tr th:each="cake : ${cakedisplay}">
            <td th:text="${cake.title}"></td>
            <td th:text="${cake.description}"></td>
            <td><img th:src="@{${cake.imageUrl}}" width="300"/></td>
        </tr>
        <table>
</div>
<a href="/addCake">add a new cake</a>
</body>
</html>