<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>
<body>
<p>
    <span th:text="'All our cakes'"></span>
</p>
<a href="/addCake">add a new cake</a>
<div th:if="${ not#lists.isEmpty(cakedisplay)}">
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
        <tr th:each="cake : ${cakedisplay}">
            <td align="center" th:text="${cake.title}" width="33%"></td>
            <td align="center" th:text="${cake.description}" width="33%"></td>
            <td><img align="center" th:src="@{${cake.imageUrl}}" width="33%"/></td>
        </tr>
        <table>
</div>
</body>
</html>